@import './index.css';
body, html{
  height: 100%;
  overflow: auto;
  background: rgb(0,0,0);
  background: linear-gradient(156deg, rgba(0,0,0,1) 1%, rgba(51,23,51,1) 47%, rgba(8,81,96,1) 100%);
}
.title{
  color: rgb(140, 140, 158);
}
.main{
  display: flex;
  color: rgb(140, 140, 158);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainls{
  width: 70vw;
  height: 70vh;
  max-width: 100%;
  max-height: 90%;
  background-color: rgba(0, 0, 0, 0.336);
}
.loginsignup{
  display: flex;
  color: rgb(140, 140, 158);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
#mynav{
  position: sticky;
  background-color: transparent;
  color: wheat;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 50px; 

}
.navright{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 20px;
}
.mylink{
  text-decoration: none;
  color:rgb(140, 140, 158);
  font-size: 25px;
  padding-inline: 12px;

}
#mylink{
  text-decoration: none;
  color:rgb(140, 140, 158);
  font-size: 25px;
  position: absolute;
  left: 20px;
}
.mylink:hover{
  color: beige;
  background-color: rgba(0, 0, 0, 0.573);
  padding-inline: 12px;
}
.myinput{
  padding: 10px;
  width: 60vmin;
  margin-top: 20px;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  border-left: 3px solid ;
  color: aliceblue;
  background-color: #3e4b586c;
  border-image: linear-gradient(30deg, rgba(64,205,233,1) 30%, rgba(109,9,111,1) 46% , rgba(155,71,157,1) 80%);
  border-image-slice: 1;
  max-width: 100%;
}
label{
  justify-content: left;
  align-items: self-start;
}
.myinput:focus::placeholder{
  color:transparent;
}
::placeholder{
  color: aliceblue;
  opacity: 0.4;
}
#mycard{
  background-color: rgb(50, 51, 56);
  display: flex;
  margin: 90px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 450px;
  color: rgb(243, 234, 224);
  position: relative;
  box-shadow: 0px 3px 90px 6px rgb(229, 24, 232);
  transition: 300ms;
  transition-timing-function: cubic-bezier(.36,.87,.56,1.04);
}
#mycard:hover{
  transform: scale(1.03);
  
}
#bsimg{
  padding-top: 10px;
}
#submitbtn{
  margin-top: 8px;
  padding: 8px;
  width: 300px;
  color:aliceblue;
  background-color: rgba(19, 4, 15, 0.629);
  border-style: none;
  max-width: 100%;
}
#infodion{
  color: rgb(181, 121, 166);
  background-color: rgb(76, 43, 81);
  border: none;
  
  margin-inline: 60px;
  margin-bottom: 50px;
  margin-top: -50px;
  box-sizing: border-box;
}

#submitbtn:hover{
  background-color: rgba(34, 216, 222, 0.649);
  color: rgb(42, 13, 42);
}
#myspin{
  margin-bottom: 40px;
}
#mybutton{
  background-color: transparent;
  border: 2px solid;
  size: 30px;
  border-image: linear-gradient(90deg, rgba(155,71,157,1) 1%, rgba(109,9,111,1) 30%, rgba(64,205,233,1) 100%);
  border-image-slice: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}

.statsUp{
  color: greenyellow;
}
.statsDown{
  color: red;
}

#stacks{
  width: 70px;
  margin-top: 50px;
}

#lgn{
  margin-top: 200px;
}